<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extrato do Mês</title>
    <link rel="stylesheet" href="css/financial_system.css">
</head>
<body>
    <nav>
        <h1>W.W</h1>
        <div>
            <a href="financial_system.html">Sistema Financeiro</a>
            <a href="extrato.html">Extratos</a>
        </div>
    </nav>
    <div class="container">
        <h2>Extrato do Mês</h2>
        <ul id="transaction-list"></ul>
        <button id="export-extract">Exportar Extrato em .txt</button>
    </div>
    <script src="js/extrato.js"></script> <!-- Linkando o novo JS de extrato -->
</body>
</html>
